*{
    font-family: 'consolas';
    background-image: url();
    z-index: 3;
}

#video-container{
    z-index: 1;
    width: 100vw;
    height: 100vh;
}
      
iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
    .video-container iframe {
      height: 56.25vw;
    }
}
      
@media (max-aspect-ratio: 16/9) {
    .video-container iframe {
      width: 177.78vh;
    }
}

#info{
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0%;
    position: absolute;
    color: lime;
    background-image: url("../images/cockpit.png");
    background-size:cover;
    background-repeat: no-repeat;
}

#info p{
    text-align: center;
}

#craftNames{
    transform: translate(0%, 60%);
    border: solid lime;
    width: 11em;
    min-height: 300px;
    padding: 1em;
    background-color: black
}

#cornerTL{
    z-index: 4;
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: -2em;
}

#cornerTL a{
    border-top: 0px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 203px solid rgb(81, 80, 80);
}

#cornerTR{
    z-index: 4;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: -2em;
}

#cornerTR a{
    border-top: 0px solid transparent;
    border-bottom: 150px solid transparent;
    border-right: 203px solid rgb(81, 80, 80);
}